<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>

<body>
    <div style="width: 100%; height: 100%;" id="graphdock">
        <h3>Loading...</h3>
    </div>
    <script>
            var figure = JSON.parse('<%- jdata %>');
            GRAPHDOCK = document.getElementById('graphdock');
            Plotly.plot( GRAPHDOCK, figure);
        </script>
</body>


</html>