<html>
<head>
    <script src="plotly-latest.min.js"></script>
    <script>
        var figure = {};
        var req = new XMLHttpRequest();
        var url = '/api/requestdata?id=<%- graphid %>';

        req.open('GET',url,true); // set this to POST if you would like
        req.addEventListener('load',onLoad);
        req.addEventListener('error',onError);

        document.write('<br>sending request...');
        req.send();

        function onLoad() {
            document.write('<br>Receiving data...')
            figure = JSON.parse(this.responseText);
            document.write('<br>parsed...')
            GRAPHDOCK = document.getElementById('tester');
            document.write('<br>plotting graph...')
            Plotly.plot( GRAPHDOCK, figure);
        }

        function onError() {
        // handle error here, print message perhaps
        document.write('<br>error receiving async AJAX call')
        console.log('error receiving async AJAX call');
        }
    </script>
</head>

<body>
    <div style="width: 100%; height: 100%;" id="graphdock">
        <h3>Loading...</h3>
    </div>
</body>


</html>